*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
    display: none;
    background-color: green;
    column-span: 1;
    border: 2px solid black;
}

.button{
    border-radius: 10px;
}

.homee{
    display: block;
    column-span: 1;
    background-color: orange;
    border: 2px solid black;
}

.button:hover{
    .home{
        transition: 1s;
        display: block;
        background-color: green;
        column-span: 1;
        border: 2px solid black;
    }
}